@page
@model IndexModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<h2>Discover the Nine Realms</h2>
<button id="showRealms">Explore Now</button>

<div id="realmsContainer" class="realms-container"></div>
