@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <div class="banner">
     <div class="slider" style="--quantity: 9">
        <div class="item" style="--position: 1"><img src="~/images/RuneAlfheim.webp" alt="" /></div>
        <div class="item" style="--position: 2"><img src="~/images/RuneAsgard.webp" alt="" /></div>
        <div class="item" style="--position: 3"><img src="~/images/RuneHelheim.webp" alt="" /></div>
        <div class="item" style="--position: 4"><img src="~/images/RuneJotunheim.webp" alt="" /></div>
        <div class="item" style="--position: 5"><img src="~/images/RuneMidgard.webp" alt="" /></div>
        <div class="item" style="--position: 6"><img src="~/images/RuneMuspelheim.webp" alt="" /></div>
        <div class="item" style="--position: 7"><img src="~/images/RuneNiflheim.webp" alt="" /></div>
        <div class="item" style="--position: 8"><img src="~/images/RuneSvartalfheim.webp" alt="" /></div>
        <div class="item" style="--position: 9"><img src="~/images/RuneVanaheim.webp" alt="" /></div>
     </div>
 </div>